.aligncontainer {
  // display: flex;
  // flex: 1;
}

.aligncontainer--hc {
  // justify-content: center;
}

.aligncontainer--vc {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.aligncontainer--hc,
.aligncontainer--vc {
  justify-content: center;
}
