@import '../../constants/colors.scss';

.services__header {
  background-color: $greyLight;
}

.services__headerwrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.services__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
