@import '../../../constants/spacing.scss';

.spacingcontainer::after {
  display: block;
  content: '';
  clear: both;
}

.spacingcontainer--flex {
  display: flex;
  flex: 1;
}

.spacingcontainer--mr {
  margin-right: $spacingHalf;
}

.spacingcontainer--mr2 {
  margin-right: $spacingFull;
}

.spacingcontainer--mt {
  margin-top: $spacingHalf;
}

.spacingcontainer--mt2 {
  margin-top: $spacingFull;
}

.spacingcontainer--ml {
  margin-left: $spacingHalf;
}

.spacingcontainer--ml2 {
  margin-left: $spacingFull;
}

.spacingcontainer--mb {
  margin-bottom: $spacingHalf;
}

.spacingcontainer--mb2 {
  margin-bottom: $spacingFull;
}

.spacingcontainer--pr {
  padding-right: $spacingHalf;
}

.spacingcontainer--pt {
  padding-top: $spacingHalf;
}

.spacingcontainer--pt2 {
  padding-top: $spacingFull;
}

.spacingcontainer--pl {
  padding-left: $spacingHalf;
}

.spacingcontainer--pb {
  padding-bottom: $spacingHalf;
}

.spacingcontainer--pb2 {
  padding-bottom: $spacingFull;
}
