.spacingcontainer {
  display: flex;
  flex: 1;
}

.spacingcontainer--mr {
  margin-right: 16px;
}

.spacingcontainer--mt {
  margin-top: 16px;
}

.spacingcontainer--mt2 {
  margin-top: 32px;
}

.spacingcontainer--ml {
  margin-left: 16px;
}

.spacingcontainer--mb {
  margin-bottom: 16px;
}

.spacingcontainer--pr {
  padding-right: 16px;
}

.spacingcontainer--pt {
  padding-top: 16px;
}

.spacingcontainer--pl {
  padding-left: 16px;
}

.spacingcontainer--pb {
  padding-bottom: 16px;
}
