@import '../../../constants/colors.scss';

.button {
  appearance: none;
  border: none;
  background: transparent;
  display: flex;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s,
    transform 0.25s;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.button--fill {
  flex: 1;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:focus {
  transform: scale(1.05);
}

.button--hasText {
  color: $bondiBlue;
  border: 1px solid $bondiBlue;
  border-radius: 16px;
  line-height: 1;
  justify-content: center;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
  padding: 0 20px;
  min-width: 175px;
}

.button--hasText.button--light {
  border-color: $white;
  color: $white;
}

.button--hasText:hover,
.button--hasText:focus {
  text-decoration: underline;
  color: $white;
  border-color: $white;
  background-color: $bondiBlue;
}

.button--light.button--hasText:hover,
.button--light.button--hasText:focus {
  color: $tePapaGreen;
  border-color: $tePapaGreen;
  background-color: $white;
}
