.button {
  appearance: none;
  border: 1px solid #009db5;
  color: #009db5;
  border-radius: 16px;
  line-height: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 32px;
  box-sizing: border-box;
  padding: 0 20px;
  min-width: 150px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.25s, color 0.25s, border-color 0.25s,
    transform 0.25s;
}

.button:hover,
.button:focus {
  text-decoration: underline;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #009db5;
  transform: scale(1.05);
  outline: none;
}
