.slidercontent {
  display: flex;
}

.slidercontent__imagewrapper {
  max-height: 200px;
  max-width: 200px;
}

.slidercontent__image {
  /*flex: 1;*/
}

.slidercontent__text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidercontent__paragraph {
  max-width: 350px;
}
