@import '../../constants/spacing.scss';

.servicecontent::after {
  display: block;
  content: '';
  clear: both;
}

.servicecontent__wrapper {
  float: left;
  width: 50%;
}

@media (max-width: 600px) {
  .servicecontent__wrapper {
    float: none;
    margin-bottom: $spacingFull;
    width: auto;
  }
}

.servicecontent__imagewrapper {
  max-height: 100%;
  max-width: 100%;
  height: 300px;
  width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .servicecontent__imagewrapper {
    max-height: 200px;
    max-width: auto;
  }
}

.servicecontent__image {
  max-width: 100%;
  max-height: 100%;
}

.servicecontent__text {
  float: right;
  width: 50%;
  height: 300px;
}

@media (max-width: 600px) {
  .servicecontent__text {
    float: none;
    width: auto;
    height: auto;
  }
}

.servicecontent__paragraph {
  max-width: 350px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .servicecontent__paragraph {
    max-width: 100%;
  }
}
