.servicecontent {
  display: flex;
  flex: 1;
}

.servicecontent__imagewrapper {
  max-height: 200px;
  max-width: 200px;
}

.servicecontent__image {
  max-width: 100%;
  max-height: 100%;
}

.servicecontent__text {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicecontent__paragraph {
  max-width: 350px;
}
