.ProjectLoopItem {
  @include sectionSpacing;

  display: flex;

  @include mq($until: mobile) {
    flex-direction: column;
  }
}

$ProjectLoopItem-imageLink--size: 100px;

.ProjectLoopItem-imageLink {
  display: block;
  width: $ProjectLoopItem-imageLink--size;

  @include mq($until: mobile) {
    margin: 0 auto 10px auto;
  }
}

.ProjectLoopItem-image {
  display: block;
  width: $ProjectLoopItem-imageLink--size;
  max-width: none;
  max-height: none;
}

.ProjectLoopItem-text {
  padding-left: $paragraphSpacing;

  @include mq($until: mobile) {
    padding-left: 0;
  }
}

.ProjectLoopItem-title {
  margin: 0;
}
