$SiteHeader-image--size: 100px;

.SiteHeader {
  @include sectionSpacing;

  display: flex;
  flex-direction: row;
  margin-top: $sectionPadding;
}

.SiteHeader-imageLink {
  max-height: $SiteHeader-image--size;
  max-width: $SiteHeader-image--size;
  display: block;
}

.SiteHeader-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

.SiteHeader-text {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.SiteHeader-titleLink {
  display: block;
}

.SiteHeader-title {
  margin: 0;
  padding: 0;
  font-size: $fontSize-largest;
}

.SiteHeader-description {
  margin: 0;
  padding: 0;
  font-size: $fontSize-large;
}
