.Social {
  @include sectionSpacingWithBorder;
}

.Social-title {
  line-height: 1;
}

.Social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.Social-listItem {
  width: calc((100% / 6) - #{$paragraphSpacing});
  max-width: 60px;
}

.Social-link {
  display: block;
}

.Social-text {
  display: none;
}

.Social-icon {
  width: 100%;
  height: auto;
}

.Social-instagramPath--black {
  fill: $instagramBlack;

  a:hover & {
    fill: $instagramBlack--highlight;
  }
}

.Social-twitterPath--blue {
  fill: $twitterBlue;

  a:hover & {
    fill: $twitterBlue--highlight;
  }
}

.Social-githubPath--black {
  fill: $githubBlack;

  a:hover & {
    fill: $githubBlack--highlight;
  }
}

.Social-linkedInPath--blue {
  fill: $linkedInBlue;

  a:hover & {
    fill: $linkedInBlue--highlight;
  }
}

.Social-pinterestPath--red {
  fill: $pinterestRed;

  a:hover & {
    fill: $pinterestRed--highlight;
  }
}

.Social-emailPath--blue {
  fill: $emailBlue;

  a:hover & {
    fill: $emailBlue--highlight;
  }
}

.Social-youtTube--red {
  fill: $youTubeRed;

  a:hover & {
    fill: $youTubeRed--highlight;
  }
}

.Social-youtTube--grey {
  fill: $youTubeGrey;
}

.Social-youtTube--white {
  fill: $youTubeWhite;
}
