.hero {
  height: 440px;
  display: flex;
}

.hero__content {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
}

@media (min-width: 700px) {
  .hero__content {
    justify-content: center;
  }
}

.hero__image {
  max-width: 350px;
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero__title,
.hero__subtitle {
  padding: 0;
  margin: 0;
  line-height: 1;
}
