.img--background {
  display: flex;
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
}

.img--contain {
  background-size: contain;
}

.img--fill {
  background-size: cover;
}
