.skills {
  display: flex;
  flex-direction: column;
}

.skills__columns {
  display: flex;
}

.skills__column {
  flex: 1;
  display: flex;
}

.skills__content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__table {
  border-collapse: collapse;
}

.skills__cell {
  padding: 5px 0;
}

.skills__row--topborder {
  border-top: 1px solid #1f393d80;
}

.skills__footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
