@import '../../constants/colors.scss';

.skills__columns::after {
  display: block;
  content: '';
  clear: both;
}

.skills__column {
  width: 50%;
}

.skills__column--text {
  float: left;
}

.skills__column--table {
  float: right;
}

@media (max-width: 900px) {
  .skills__column {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    float: none;
  }
}

@media (max-width: 900px) {
  .skills__column--table {
    margin-top: 30px;
  }
}

.skills__columnwrapper--text {
  margin-right: 30px;
}

.skills__columnwrapper--table {
  margin-left: 30px;
}

@media (max-width: 900px) {
  .skills__columnwrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

.skills__table {
  border-collapse: collapse;
  width: 100%;
}

.skills__cell {
  padding: 5px 0;
}

.skills__cell--title {
  min-width: 90px;
}

.skills__row--topborder {
  border-top: 1px solid transparentize($tePapaGreen, 0.75);
}

.skills__footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
