.slider__slides {
  overflow: hidden;
}

.slider__slideswrapper {
  transition: margin-left 0.5s;
  display: flex;
}

.slider__slideswrapper:after {
  display: block;
  content: '';
  clear: both;
}

.slider__slide {
  display: flex;
}
