@import '../../constants/colors.scss';

.contentspotlight__wrapper {
  flex: 1;
  flex-direction: column;
}

.contentspotlight--dark {
  background-color: $tePapaGreen;
}

.contentspotlight--light {
  background-color: $greyLight;
}

.contentspotlight--fullscreen {
  flex: 1;
  align-items: center;
  display: flex;
}
