.contentspotlight__wrapper {
  flex: 1;
  flex-direction: column;
}

.contentspotlight--dark {
  background-color: #1f393d;
}

.contentspotlight--light {
  background-color: #f8f8f8;
}

.contentspotlight--fullscreen {
  flex: 1;
  align-items: center;
  display: flex;
}
