$SiteHeader-image--size: 100px;

.SiteHeader {
  display: flex;
  flex-direction: row;
}

.SiteHeader-imageLink {
  max-height: $SiteHeader-image--size;
  max-width: $SiteHeader-image--size;
  display: block;
}

.SiteHeader-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
}

.SiteHeader-text {
  padding-left: 20px;
}

.SiteHeader-title {
  margin: 0;
  padding: 0;
}
