@import '../../constants/colors.scss';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background: transparentize($tePapaGreen, 0.03);
  display: flex;
  overflow: auto;
}

.modal__wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.modal__close {
  justify-content: flex-end;
  display: flex;
}

.modal__content {
  display: flex;
  justify-content: center;
  flex: 1;
}

.modal__close path {
  fill: $white;
  opacity: 0.5;
}

.modal__close button:hover path,
.modal__close button:focus path {
  opacity: 1;
}
