.newslettersignup {
  display: flex;
  flex: 1;
}

@media (max-width: 600px) {
  .newslettersignup {
    flex-direction: column;
    align-items: flex-start;
  }
}

.newslettersignup__input {
  margin-right: 20px;
  width: 100%;
  display: flex;
}

@media (max-width: 600px) {
  .newslettersignup__input {
    margin-right: 0;
    margin-bottom: 48px;
  }
}
