@import '../../constants/colors.scss';

.contact__form {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.contact__social {
  display: flex;
  justify-content: center;
}

.contact__message {
  margin-top: 30px;
}

.contact__footer:after {
  display: block;
  content: '';
  clear: both;
}

.contact__footerwrapper {
  float: left;
}

.contact__status {
  float: right;
}

.contact__loading {
  float: left;
  margin-left: 30px;
}

.contact__cancel {
  float: right;
  margin-left: 30px;
  margin-top: 12px;
}

.contact__messagetext {
  background: transparentize($white, 0.25);
  border-radius: 10px;
  padding: 10px;
}

.contact__messagetext--failed {
  background: transparentize($red, 0.25);
}
