@import '../../constants/colors.scss';

.socialicon {
  display: flex;
  flex: 1;
  transition: transform 0.25s, opacity 0.25s;
}

.socialicon--light path {
  fill: $white;
  opacity: 0.5;
}

a:hover .socialicon--light path,
a:focus .socialicon--light path {
  opacity: 1;
}

a:hover .socialicon,
a:focus .socialicon {
  transform: scale(1.3);
}

a:hover .socialicon--twitter.socialicon--color path,
a:focus .socialicon--twitter.socialicon--color path {
  fill: #54acef;
}

a:hover .socialicon--instagram.socialicon--color path,
a:focus .socialicon--instagram.socialicon--color path,
a:hover .socialicon--github.socialicon--color path,
a:focus .socialicon--github.socialicon--color path {
  fill: $tePapaGreen;
}

a:hover .socialicon--linkedin.socialicon--color path,
a:focus .socialicon--linkedin.socialicon--color path {
  fill: #007bb5;
}

a:hover .socialicon--youtube.socialicon--color path,
a:focus .socialicon--youtube.socialicon--color path {
  fill: #c33c2e;
}
