@import '../../constants/colors.scss';

@media (min-width: 800px) {
  .socialicon--contact {
    display: none;
  }
}

.socialicon__wrapper {
  transition: transform 0.25s, opacity 0.25s;
  height: 40px;
  width: 72px;
}

@media (max-width: 575px) {
  .socialicon__wrapper {
    height: 30px;
    width: 50px;
  }
}

.socialicon__wrapper--large {
  height: 50px;
  width: 95px;
}

@media (max-width: 630px) {
  .socialicon__wrapper--large {
    height: 40px;
    width: 72px;
  }
}

@media (max-width: 500px) {
  .socialicon__wrapper--large {
    height: 30px;
    width: 50px;
  }
}

.socialicon__wrapper--light path {
  fill: $white;
  opacity: 0.5;
}

button:hover .socialicon__wrapper--light path,
button:focus .socialicon__wrapper--light path,
a:hover .socialicon__wrapper--light path,
a:focus .socialicon__wrapper--light path {
  opacity: 1;
}

button:hover .socialicon__wrapper,
button:focus .socialicon__wrapper,
a:hover .socialicon__wrapper,
a:focus .socialicon__wrapper {
  transform: scale(1.3);
}

a:hover .socialicon__wrapper--twitter.socialicon__wrapper--color path,
a:focus .socialicon__wrapper--twitter.socialicon__wrapper--color path {
  fill: #54acef;
}

a:hover .socialicon__wrapper--instagram.socialicon__wrapper--color path,
a:focus .socialicon__wrapper--instagram.socialicon__wrapper--color path,
a:hover .socialicon__wrapper--github.socialicon__wrapper--color path,
a:focus .socialicon__wrapper--github.socialicon__wrapper--color path {
  fill: $tePapaGreen;
}

a:hover .socialicon__wrapper--linkedin.socialicon__wrapper--color path,
a:focus .socialicon__wrapper--linkedin.socialicon__wrapper--color path {
  fill: #007bb5;
}

a:hover .socialicon__wrapper--youtube.socialicon__wrapper--color path,
a:focus .socialicon__wrapper--youtube.socialicon__wrapper--color path {
  fill: #c33c2e;
}
