.socialicon {
  display: flex;
  flex: 1;
  transition: transform 0.25s;
}

a:hover .socialicon,
a:focus .socialicon {
  transform: scale(1.3);
}

a:hover .socialicon--twitter path,
a:focus .socialicon--twitter path {
  fill: #54acef;
}

a:hover .socialicon--instagram path,
a:focus .socialicon--instagram path,
a:hover .socialicon--github path,
a:focus .socialicon--github path {
  fill: #1f393d;
}

a:hover .socialicon--linkedin path,
a:focus .socialicon--linkedin path {
  fill: #007bb5;
}

a:hover .socialicon--youtube path,
a:focus .socialicon--youtube path {
  fill: #c33c2e;
}
