h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 0.5em 0;
  padding: 0; }

h1 {
  font-size: 1.75rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4,
h5,
h6 {
  font-size: 16px; }

img {
  max-width: 100%;
  height: auto; }

p {
  margin: 0 0 20px 0; }

ul,
ol {
  margin: 20px 0;
  padding-left: 40px; }

.Html {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-size: 16px; }

.Body {
  max-width: 600px;
  margin: 0 auto; }

.SiteHeader {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px; }

.SiteHeader-imageLink {
  max-height: 70px;
  max-width: 70px;
  display: block; }

.SiteHeader-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto; }

.SiteHeader-text {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.SiteHeader-titleLink {
  display: block; }

.SiteHeader-title {
  margin: 0;
  padding: 0;
  font-size: 1.75rem;
  line-height: 1; }

.SiteHeader-description {
  margin: 0;
  padding: 0;
  font-size: 1.25rem; }

.Now {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eaeaea; }

.Now-title {
  line-height: 1; }

.Now-imageList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px; }

.Now-imageListItem {
  width: calc((100% / 3) - 20px); }

.Now-imageLink {
  display: block; }

.Now-image {
  width: 100%;
  height: auto; }

.Social {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eaeaea; }

.Social-title {
  line-height: 1; }

.Social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px; }

.Social-listItem {
  width: calc((100% / 6) - 20px); }

.Social-link {
  display: block; }

.Social-text {
  display: none; }

.Social-icon {
  width: 100%;
  height: auto; }

.Projects {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eaeaea; }

.Projects-title {
  line-height: 1;
  margin-bottom: 40px; }

.ProjectLoopItem {
  padding-bottom: 40px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.ProjectLoopItem-imageLink {
  display: block;
  height: 100px;
  width: 100px; }

.ProjectLoopItem-image {
  display: block;
  height: 100px;
  width: 100px;
  max-width: none;
  max-height: none; }

.ProjectLoopItem-text {
  padding-left: 20px; }

.ProjectLoopItem-title {
  margin: 0; }

.Project {
  overflow: hidden; }
  .Project img {
    display: block;
    margin: 20px 0;
    width: 100%;
    height: auto; }
  .Project div {
    width: 100% !important; }

/*# sourceMappingURL=../maps/style.css.map */
