$lightGrey: #eaeaea;
$linkColour: #006c98;
$linkHighlight: #005c82;

$twitterBlue: #55acee;
$twitterBlue--highlight: #127ef9;
$githubBlack: black;
$githubBlack--highlight: #505050;
$linkedInBlue: #007bb5;
$linkedInBlue--highlight: #005780;
$pinterestRed: #cb2027;
$pinterestRed--highlight: #9e151b;
$emailBlue: $linkColour;
$emailBlue--highlight: $linkHighlight;
$youTubeRed: #C33C2D;
$youTubeRed--highlight: #7b2117;
$youTubeGrey: #D8D9D9;
$youTubeWhite: #FFFFFF;
